.App {
  text-align: center;
}

body,
.root,
.grid {
	display: grid;
}

.grid {
	display: grid;
	background-color: #d1c9b6;
	grid-gap: 3px;
	grid-template-columns: 1fr;
	height: 100vh;
	grid-template-rows: 65px 1fr 35px;
	margin: 0 auto;
	grid-template-areas:
		"header"
		"article"
		"footer";
}

header {
	grid-area: header;
}

article {
	grid-area: article;
}


footer {
	grid-area: footer;
}

@media (min-width: 1200px) {
	.grid {
		width: 100%;
		max-width: 1200px;
	}
} 

@media (max-width: 440px) {
	.grid {
		grid-template-rows: 160px 1fr 35px;
	}
}

.grid > * {
	background-color: #26281d;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

